@font-face {
  font-family: 'More-Sugar';
  src: url('../assets/fonts/more-sugar.regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lazy Dog';
  src: url('../assets/fonts/lazy_dog.ttf') format('truetype');
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Fredoka One', sans-serif;
  background: linear-gradient(135deg, #C4E2E7, #A2CAD8);
  color: #4f2f2f;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.cookie-border-left, .cookie-border-right {
  position: fixed;
  top: 0;
  width: 130px;
  height: 100%;
  background: url('../assets/cookie-stack.png') repeat-y center/contain;
  z-index: 1;
}

.cookie-border-left {
  left: 0;
}

.cookie-border-right {
  right: 0;
}

.logo {
  max-width: 680px;
  height: auto;
  display: block;
  margin: 0 auto 10px auto;
  transition: transform 0.3s ease;
}

button {
  font-family: Lazy Dog;
  background-color: #cfb886;
  border-radius: 30px;
  border: none;
  padding: px 20px;
  font-size: medium;
  font-weight: bold;
  color: #442119;
  width: 200px;
  height: 60px;
  cursor: pointer;
}

.dotted-line {
  border-top: 2px dotted #000; /* Adjust the color and thickness as needed */
  width: 100%; /* Make it span the entire width */
  margin-top: 20px; /* Adjust the margin as needed */
}

h1 {
  font-family: Lazy Dog;
  font-size: 4em;
  color: #83583c;
}

h2 {
  font-family: More-Sugar;
  color: #83583c;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto; /* Adjust as needed */
}

.numbered-list {
  counter-reset: list-counter;
  list-style: none;
  padding-left: 0;
}

.numbered-list li {
  counter-increment: list-counter;
  margin-bottom: 1em;
  position: relative;
  padding-left: 3.5em; /* Increase padding to make space for the circle */
}

.numbered-list li::before {
  content: counter(list-counter);
  background-color: #cfb886;
  border-radius: 50%;
  display: inline-block;
  height: 2em;
  width: 2em;
  line-height: 2em;
  text-align: center;
  font-size: 1.5em;
  position: absolute;
  left: 0;
  top: 0;
  color: #ffffff; /* Change this to your desired number color */
}